{% extends "Dashboard.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block main_content %}
<div class="d-flex flex-column justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#invitesentmodel" data-bs-whatever="@mdo">Single Invite</button>
        <button type="button" class="btn btn-outline-primary">Upload File</button>
    </div>

    <div style="height:15px;"></div>
    <h3 class="primary-text">Invitations Sent:</h3>
    <table id="eventslist" class="table my-table">
        <thead>
            <tr>
                <th scope="col" class="custom-min-col-width">Sr. No.</th>
                <th scope="col" class="custom-min-col-width">Event Title</th>
                <th scope="col" class="custom-min-col-width">Event Date</th>
                <th scope="col" class="custom-min-col-width">Event Time</th>
                <th scope="col" class="custom-min-col-width">Invited To</th>
                <th scope="col" class="custom-min-col-width">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in invites %}
            <tr id="{{ forloop.counter }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ e.event.title }}</td>
                <td>{{ e.event.event_time }}</td>
                <td>{{ e.event.event_time }}</td>
                <td>{{ e.receiver_email }}</td>
                <td>{{ e.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="invitesentmodel" tabindex="-1" aria-labelledby="inviteSentLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="inviteSentLabel">Sent Invite</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% crispy form_obj form_obj.helper %}
            
          </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block afterjs %}
<script src="{% static "scripts/invitation_sent_handler.js" %}"></script>
{% endblock afterjs %}