{% extends "Dashboard.html" %}

{% load static %}

{% block main_content %}
<div class="event-list-section">
    <div style="height:15px;"></div>
    <h3 class="primary-text">Public Events:</h3>
    <table id="eventslist" class="table my-table">
        <thead>
            <tr>
                <th scope="col" class="custom-min-col-width">Sr. No.</th>
                <th scope="col" class="custom-min-col-width">Title</th>
                <th scope="col" class="custom-min-col-width">Host</th>
                <th scope="col" class="custom-min-col-width">Venue</th>
                <th scope="col" class="custom-min-col-width">Date</th>
                <th scope="col" class="custom-min-col-width">Total Participants</th>
                <th scope="col" class="custom-min-col-width">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in events %}
            <tr id="{{ forloop.counter }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ e.title }}</td>
                <td>{{ e.host }}</td>
                <td>{{ e.venue }}</td>
                <td>{{ e.event_time }}</td>
                <td>{{ e.total_participants }}</td>
                <td>
                    <a id="updatebtn{{e.event_id}}" name="updateeventbtn" class="btn btn-success">Update</a>
                    <a id="deletebtn{{e.event_id}}" name="deleteeventbtn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmdelmodel">Delete</a>
                    <a name="vieweventbtn" id="{{e.event_id}}" class="btn btn-primary rounded-circle profile-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="event-detail"></div>
</div>

{% comment %} Model for event detail {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Event title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Description
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>


{% comment %} Model for delete confirmation {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="confirmdelmodel" tabindex="-1" aria-labelledby="confirmDelModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmDelModelLabel">Confirm Delete?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="confirmdelbody" class="modal-body" name="confirmdelbody">
          Are you sure you want to delete?
          Once event is deleted the data related to this event will be lost permenantly!
        </div>
        <div class="modal-footer">
          <button id="canceldelbtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button id="confirmdelbtn" type="button" class="btn btn-danger">Confirm Delete</button>
        </div>
      </div>
    </div>
</div>
  

{% endblock main_content %}

{% block afterjs %}
<script src="{% static "scripts/my_events_list.js" %}"></script>
{% endblock afterjs %}