<div class="event-list-section">
    <div style="height:15px;"></div>
    <h3 class="primary-text">Public Events:</h3>
    <table id="eventslist" class="table my-table">
        <thead>
            <tr>
                <th scope="col" class="custom-min-col-width">Sr. No.</th>
                <th scope="col" class="custom-min-col-width">Title</th>
                <th scope="col" class="custom-min-col-width">Host</th>
                <th scope="col" class="custom-min-col-width">Venue</th>
                <th scope="col" class="custom-min-col-width">Date</th>
                <th scope="col" class="custom-min-col-width">Total Participants</th>
                <th scope="col" class="custom-min-col-width">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in events %}
            <tr id="{{ forloop.counter }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ e.title }}</td>
                <td>{{ e.host }}</td>
                <td>{{ e.venue }}</td>
                <td>{{ e.event_time }}</td>
                <td>{{ e.total_participants }}</td>
                <td>
                    <a href="#" class="btn btn-success">Update</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>