{% extends "base.html" %}
{% load static %}
{% block title %}Welcome Page{% endblock title %}
{% block inhead %}<link rel="stylesheet" href="{% static "styles/WelcomePage.css" %}">{% endblock inhead %}
{% block content %}
<div class="root-div">
    <h1 class="primary-text">Welcome to our Event Management System!</h1>
    <div style="height:40px;"></div>
    <button id="welcome-btn" type="button" class="btn welcome-btn">Let's Go</button>
    {% comment %} <button>Let's Go!</button> {% endcomment %}
</div>
<div class="event-list-section">
    <div style="height:15px;"></div>
    <h3 class="primary-text">Public Events:</h3>
    <table id="eventslist" class="table my-table">
        <thead>
            <tr>
                {% comment %} <th>ID</th> {% endcomment %}
                <th scope="col" class="custom-min-col-width">Sr. No.</th>
                <th scope="col" class="custom-min-col-width">Title</th>
                <th scope="col" class="custom-min-col-width">Host</th>
                <th scope="col" class="custom-min-col-width">Venue</th>
                <th scope="col" class="custom-min-col-width">Date</th>
                <th scope="col" class="custom-min-col-width">Total Participants</th>
                <th scope="col" class="custom-min-col-width">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in events %}
            <tr>
                {% comment %} <td>{{ profile.id }}</td> {% endcomment %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ e.title }}</td>
                <td>{{ e.host }}</td>
                <td>{{ e.venue }}</td>
                <td>{{ e.event_time }}</td>
                <td>{{ e.total_participants }}</td>
                <td>
                    <a href="#" class="btn btn-primary">Participate</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} List of public events {% endcomment %}
</div>
{% endblock content %}

{% block after %}
<script type="module" src="{% static "scripts/welcome_page.js" %}"></script>
{% endblock after %}