:root{
    --color-black: #11120D;
    --color-olive: #565449;
    --color-bone: #D8CFBC;
    --color-white: #FFFBF4;
}

.color-black{
    color: var(--color-black)
}
.color-olive{
    color: var(--color-olive)
}
.color-bone{
    color: var(--color-bone)
}
.color-white{
    color: var(--color-white)
}


body{
    background-color: var(--color-bone);
}

.primary-text{
    color: var(--color-black);
}

.secondary-text{
    color: var(--color-olive);
}

.root-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-list-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.welcome-btn{
    background-color: var(--color-olive);
    color: var(--color-bone);
}

.custom-min-col-width{
    min-width: 100px;
}

.my-table{
    max-width: 80%;
    background-color: var(--color-olive);
    color: var(--color-bone);
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.btn-participate {
    background-color: #4CAF50; /* Green */
}

.btn-delete {
    background-color: #f44336; /* Red */
}

.btn:hover {
    opacity: 0.8;
}